In [1]:
from datetime import timedelta
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
aws = pd.read_csv('aws.csv')

In [3]:
aws.head()

,date,temp,1m_rain,rain_ornot,wind_direct,wind_speed,humid
0,2016-01-01 00:01:00,-0.3,0.0,0.0,192.6,2.3,87.5
1,2016-01-01 00:02:00,-0.3,0.0,0.0,195.2,2.2,87.5
2,2016-01-01 00:03:00,-0.3,0.0,0.0,197.5,1.7,87.6
3,2016-01-01 00:04:00,-0.4,0.0,0.0,199.5,1.9,87.6
4,2016-01-01 00:05:00,-0.4,0.0,0.0,198.4,2.3,87.5

'plant': 공장,
 'loc': 공장 내부 위치,
 'tem_in': 대기온도,
 'hum_in': 대기 상대습도,
 'tem_coil': ,
 'tem_out_loc1',
 'hum_out_loc1',
 'temp': 기온,
 '1m_rain': 당진 aws 1분 강수량,
 'rain_ornot': 당진 aws 강수 유무,
 'wind_direct_x': 당진 aws 풍향,
 'wind_speed_x': 당진 aws 풍속,
 'humid': 당진 aws 습도,
 'tem_in_out': 내외부 온도차,
 'tem_coil_in': 코일과 내부 온도차,
 'tem_coil_in_ratio': 코일과 내부 온도차 비율,
 'asos_tem',
 'rain',
 'wind_direct_y',
 'wind_speed_y',
 'pres',
 'sea_pres',
 'asos_hum',
 'sum_en',
 'sun',
 'month',
 'season',
 'time',
 'tem_26',
 'tem_coil_510',
 'tem_coil_25',
 'hum_out_4361',
 'asos_hum_95',
 'hum_tem_coil',
 'plant_train.hum_in_log',
 'plant_train.tem_coil_log',
 'plant_train.tem_in_log',
 'plant_train.tem_out_loc1_log',
 'plant_train.hum_out_loc1_log',
 'asos_tem_log',
 'rain_log',
 'wind_direct_log',
 'wind_speed_log',
 'pres_log',
 'sea_pres_log',
 'asos_hum_log',
 'sum_en_log',
 'sun_log',
 'dong_rain',
 'dong_raintype',
 'dong_tem',
 'dong_thunder',
 'dong_hum',
 'dong_windsp',
 'dong_winddrt',
 'cloud',
 'sp_tem': 신평 aws 온도,
 'sp_1m_rain': 신평 aws 1분 강수량,
 'sp_rain_ornot': 신평 aws 강수 유무,
 'sp_wind_direct': 신평 aws 풍향,
 'sp_wind_speed': 신평 aws 풍속,
 'sp_press': 신평 aws 현지 기압,
 'sp_sea_press': 신평 aws 해면 기압,
 'sp_ilsa': 신평 aws 일사,
 'sp_iljo': 신평 aws 일조

In [474]:
pt1 = pd.read_csv('plant1_train.csv')
pt2 = pd.read_csv('plant2_train.csv')
pt_test = pd.read_csv('plant_test.csv')

In [475]:
pt1.head()

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3
0,"""2016-04-01 0:00""",16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0.0,0.0,0.0
1,"""2016-04-01 3:00""",14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0.0,0.0,0.0
2,"""2016-04-01 6:00""",13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0.0,0.0,0.0
3,"""2016-04-01 9:00""",13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0.0,0.0,0.0
4,"""2016-04-01 12:00""",16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0.0,0.0,0.0

In [476]:
pt1.isnull().sum()

plant1_train.mea_ddhr           0
plant1_train.tem_in_loc1      870
plant1_train.hum_in_loc1      870
plant1_train.tem_coil_loc1    870
plant1_train.tem_in_loc2      120
plant1_train.hum_in_loc2      120
plant1_train.tem_coil_loc2    120
plant1_train.tem_in_loc3      145
plant1_train.hum_in_loc3      145
plant1_train.tem_coil_loc3    120
plant1_train.tem_out_loc1     120
plant1_train.hum_out_loc1     120
plant1_train.cond_loc1        870
plant1_train.cond_loc2        120
plant1_train.cond_loc3        145
dtype: int64

In [477]:
def date_convert(df,plant):
    date_ls = []
    for i in range(len(df)):
        date0 = re.sub('[\"]','',df[plant+'_train.mea_ddhr'].iloc[i])

        date_ls.append(datetime.strptime(date0,'%Y-%m-%d %H:%M'))
        
    return date_ls

In [481]:
pt1['date'] = date_convert(pt1,'plant1')

In [482]:
pt2['date'] = date_convert(pt2,'plant2')

In [483]:
def after_pred_label(df,plant,n_day):

    loc1_pred, loc2_pred, loc3_pred, pred_idx = [], [], [], []
    location = 1
    for i in range(len(df)):
        crt_date = df['date'].iloc[i] # 현재 날짜 
        ft_date = df['date'].iloc[i] + timedelta(days=n_day) # 현재 날짜로부터 + n_day
        
        if i != 0 and i % 1000 == 0 :
            print(str(i) + '번 째 처리중')

        for j in range(i, len(df)):

            if ft_date == df['date'].iloc[j]: # + n_day 한 날짜와 같은지 조건문으로 탐색
                
                # 조건에 맞는 인덱스 j를 찾았다면 임의의 각 location_predict값으로 데이터를 넣음
                loc1_pred0 = df[plant+'_train.cond_loc'+str(location)].iloc[j]
                loc2_pred0 = df[plant+'_train.cond_loc'+str(location+1)].iloc[j]
                loc3_pred0 = df[plant+'_train.cond_loc'+str(location+2)].iloc[j]

                pred_idx0 = j

                loc1_pred.append(loc1_pred0)
                loc2_pred.append(loc2_pred0)
                loc3_pred.append(loc3_pred0)

                pred_idx.append(pred_idx0)
                
                

                break
            else:
                
                #조건에 맞는 날짜가 없다면 x를 반환하고 non값으로 대신 값을 넣음
                #예를들어 마지막 날은 다음 날 데이터가 없으므로 'non' 값이 들어갈 것임
                loc1_pred0 = 'x'
                loc2_pred0 = 'x'
                loc3_pred0 = 'x'
                pred_idx0 = 'x'
                
                continue
                
        if loc1_pred0 == 'x':
            loc1_pred.append('non')
            loc2_pred.append('non')
            loc3_pred.append('non')

            pred_idx.append('non')

    return loc1_pred, loc2_pred, loc3_pred, pred_idx

### Test 데이터와 형식을 맞춰주기 위한 코드(24시간 뒤)
    - plant1

In [484]:
loc1_pred, loc2_pred, loc3_pred, pred_idx = after_pred_label(pt1,'plant1',1)

pt1['after24_loc1_predict'] = loc1_pred
pt1['after24_loc2_predict'] = loc2_pred
pt1['after24_loc3_predict'] = loc3_pred
pt1['after24_idx'] = pred_idx

1000번 째 처리중
2000번 째 처리중
3000번 째 처리중
4000번 째 처리중
5000번 째 처리중
6000번 째 처리중
7000번 째 처리중
8000번 째 처리중
9000번 째 처리중
10000번 째 처리중
11000번 째 처리중
12000번 째 처리중
13000번 째 처리중
14000번 째 처리중
15000번 째 처리중
16000번 째 처리중
17000번 째 처리중
18000번 째 처리중
19000번 째 처리중
20000번 째 처리중
21000번 째 처리중
22000번 째 처리중
23000번 째 처리중
24000번 째 처리중
25000번 째 처리중
26000번 째 처리중
27000번 째 처리중
28000번 째 처리중
29000번 째 처리중
30000번 째 처리중
31000번 째 처리중
32000번 째 처리중
33000번 째 처리중
34000번 째 처리중
35000번 째 처리중
36000번 째 처리중
37000번 째 처리중
38000번 째 처리중
39000번 째 처리중
40000번 째 처리중
41000번 째 처리중
42000번 째 처리중
43000번 째 처리중
44000번 째 처리중
45000번 째 처리중
46000번 째 처리중
47000번 째 처리중
48000번 째 처리중
49000번 째 처리중
50000번 째 처리중
51000번 째 처리중
52000번 째 처리중
53000번 째 처리중
54000번 째 처리중
55000번 째 처리중
56000번 째 처리중
57000번 째 처리중
58000번 째 처리중

In [492]:
pt1_ver2 = pt1
#pt1_ver2.dropna(axis=0,inplace=True)
pt1_ver3 = pt1_ver2.replace('non',np.nan)
#pt1_ver3.dropna(axis=0,inplace=True)

col_ls = pt1_ver3.columns.tolist()

loc1_col = []
loc2_col = []
loc3_col = []
for i in col_ls:
    if 'loc1' in i:
        loc1_col.append(i)
    elif 'loc2' in i:
        loc2_col.append(i)
    elif 'loc3' in i:
        loc3_col.append(i)
        
loc1_col.append('date')
loc2_col.append('date')
loc3_col.append('date')

loc1_col = list(set(loc1_col) - set(['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']))
loc2_col = list(set(loc2_col))
loc3_col = list(set(loc3_col))

loc1_col = pd.Series(loc1_col).sort_values().tolist()
loc2_col = pd.Series(loc2_col).sort_values().tolist()
loc3_col = pd.Series(loc3_col).sort_values().tolist()

pt1_loc1_df = pt1_ver3[loc1_col]
pt1_loc2_df = pt1_ver3[loc2_col]
pt1_loc3_df = pt1_ver3[loc3_col]

pt1_loc1_df = pd.concat([pt1_loc1_df,pt1_ver3[['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']]],axis=1)
pt1_loc2_df = pd.concat([pt1_loc2_df,pt1_ver3[['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']]],axis=1)
pt1_loc3_df = pd.concat([pt1_loc3_df,pt1_ver3[['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']]],axis=1)

pt1_loc1_df.columns = ['after24_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt1_loc2_df.columns = ['after24_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt1_loc3_df.columns = ['after24_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']


pt1_loc1_df['loc'] = 1
pt1_loc1_df['plant'] = 1

pt1_loc2_df['loc'] = 2
pt1_loc2_df['plant'] = 1

pt1_loc3_df['loc'] = 3
pt1_loc3_df['plant'] = 1

train_pt1_24 = pd.concat([pt1_loc1_df,pt1_loc2_df,pt1_loc3_df],axis=0)

    - plant2

In [493]:
plt2_loc1_pred, plt2_loc2_pred, plt2_loc3_pred, plt2_pred_idx = after_pred_label(pt2,'plant2',1)

pt2['after24_loc1_predict'] = plt2_loc1_pred
pt2['after24_loc2_predict'] = plt2_loc2_pred
pt2['after24_loc3_predict'] = plt2_loc3_pred
pt2['after24_idx'] = plt2_pred_idx

1000번 째 처리중
2000번 째 처리중
3000번 째 처리중
4000번 째 처리중
5000번 째 처리중
6000번 째 처리중
7000번 째 처리중
8000번 째 처리중
9000번 째 처리중
10000번 째 처리중
11000번 째 처리중
12000번 째 처리중
13000번 째 처리중
14000번 째 처리중
15000번 째 처리중
16000번 째 처리중
17000번 째 처리중
18000번 째 처리중
19000번 째 처리중
20000번 째 처리중
21000번 째 처리중
22000번 째 처리중
23000번 째 처리중
24000번 째 처리중
25000번 째 처리중
26000번 째 처리중
27000번 째 처리중
28000번 째 처리중
29000번 째 처리중
30000번 째 처리중
31000번 째 처리중
32000번 째 처리중
33000번 째 처리중
34000번 째 처리중
35000번 째 처리중
36000번 째 처리중
37000번 째 처리중
38000번 째 처리중
39000번 째 처리중
40000번 째 처리중
41000번 째 처리중
42000번 째 처리중
43000번 째 처리중
44000번 째 처리중
45000번 째 처리중
46000번 째 처리중
47000번 째 처리중
48000번 째 처리중
49000번 째 처리중
50000번 째 처리중
51000번 째 처리중
52000번 째 처리중
53000번 째 처리중
54000번 째 처리중
55000번 째 처리중
56000번 째 처리중
57000번 째 처리중
58000번 째 처리중

In [10]:
pt2.shape

(58792, 20)

In [491]:
pt2.head()

,plant2_train.mea_ddhr,plant2_train.tem_in_loc1,plant2_train.hum_in_loc1,plant2_train.tem_coil_loc1,plant2_train.tem_in_loc2,plant2_train.hum_in_loc2,plant2_train.tem_coil_loc2,plant2_train.tem_in_loc3,plant2_train.hum_in_loc3,plant2_train.tem_coil_loc3,plant2_train.tem_out_loc1,plant2_train.hum_out_loc1,plant2_train.cond_loc1,plant2_train.cond_loc2,plant2_train.cond_loc3,date
0,"""2016-04-01 0:00""",16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0.0,0.0,0.0,2016-04-01 00:00:00
1,"""2016-04-01 3:00""",14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0.0,0.0,0.0,2016-04-01 03:00:00
2,"""2016-04-01 6:00""",13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0.0,0.0,0.0,2016-04-01 06:00:00
3,"""2016-04-01 9:00""",13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0.0,0.0,0.0,2016-04-01 09:00:00
4,"""2016-04-01 12:00""",16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0.0,0.0,0.0,2016-04-01 12:00:00

In [494]:
pt2_ver2 = pt2
#pt2_ver2.dropna(axis=0,inplace=True)
pt2_ver3 = pt2_ver2.replace('non',np.nan)
#pt2_ver3.dropna(axis=0,inplace=True)

col_ls = pt2_ver3.columns.tolist()

loc1_col = []
loc2_col = []
loc3_col = []
for i in col_ls:
    if 'loc1' in i:
        loc1_col.append(i)
    elif 'loc2' in i:
        loc2_col.append(i)
    elif 'loc3' in i:
        loc3_col.append(i)
        
loc1_col.append('date')
loc2_col.append('date')
loc3_col.append('date')

loc1_col = list(set(loc1_col) - set(['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']))
loc2_col = list(set(loc2_col))
loc3_col = list(set(loc3_col))

loc1_col = pd.Series(loc1_col).sort_values().tolist()
loc2_col = pd.Series(loc2_col).sort_values().tolist()
loc3_col = pd.Series(loc3_col).sort_values().tolist()

pt2_loc1_df = pt2_ver3[loc1_col]
pt2_loc2_df = pt2_ver3[loc2_col]
pt2_loc3_df = pt2_ver3[loc3_col]

pt2_loc1_df = pd.concat([pt2_loc1_df,pt2_ver3[['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']]],axis=1)
pt2_loc2_df = pd.concat([pt2_loc2_df,pt2_ver3[['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']]],axis=1)
pt2_loc3_df = pd.concat([pt2_loc3_df,pt2_ver3[['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']]],axis=1)

pt2_loc1_df.columns = ['after24_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt2_loc2_df.columns = ['after24_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt2_loc3_df.columns = ['after24_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt2_loc1_df['loc'] = 1
pt2_loc1_df['plant'] = 2

pt2_loc2_df['loc'] = 2
pt2_loc2_df['plant'] = 2

pt2_loc3_df['loc'] = 3
pt2_loc3_df['plant'] = 2

train_pt2_24 = pd.concat([pt2_loc1_df,pt2_loc2_df,pt2_loc3_df],axis=0)

### Test 데이터와 형식을 맞춰주기 위한 코드(48시간 뒤)
    - plant1

In [495]:
pt1 = pd.read_csv('plant1_train.csv')
pt2 = pd.read_csv('plant2_train.csv')
pt_test = pd.read_csv('plant_test.csv')

In [497]:
def date_convert(df,plant):
    date_ls = []
    for i in range(len(df)):
        date0 = re.sub('[\"]','',df[plant+'_train.mea_ddhr'].iloc[i])

        date_ls.append(datetime.strptime(date0,'%Y-%m-%d %H:%M'))
        
    return date_ls

In [498]:
pt1['date'] = date_convert(pt1,'plant1')

In [499]:
pt2['date'] = date_convert(pt2,'plant2')

In [500]:
def after_pred_label(df,plant,n_day):

    loc1_pred, loc2_pred, loc3_pred, pred_idx = [], [], [], []
    location = 1
    for i in range(len(df)):
        crt_date = df['date'].iloc[i] # 현재 날짜 
        ft_date = df['date'].iloc[i] + timedelta(days=n_day) # 현재 날짜로부터 + n_day
        
        if i != 0 and i % 1000 == 0 :
            print(str(i) + '번 째 처리중')

        for j in range(i, len(df)):

            if ft_date == df['date'].iloc[j]: # + n_day 한 날짜와 같은지 조건문으로 탐색
                
                # 조건에 맞는 인덱스 j를 찾았다면 임의의 각 location_predict값으로 데이터를 넣음
                loc1_pred0 = df[plant+'_train.cond_loc'+str(location)].iloc[j]
                loc2_pred0 = df[plant+'_train.cond_loc'+str(location+1)].iloc[j]
                loc3_pred0 = df[plant+'_train.cond_loc'+str(location+2)].iloc[j]

                pred_idx0 = j

                loc1_pred.append(loc1_pred0)
                loc2_pred.append(loc2_pred0)
                loc3_pred.append(loc3_pred0)

                pred_idx.append(pred_idx0)
                
                

                break
            else:
                
                #조건에 맞는 날짜가 없다면 x를 반환하고 non값으로 대신 값을 넣음
                #예를들어 마지막 날은 다음 날 데이터가 없으므로 'non' 값이 들어갈 것임
                loc1_pred0 = 'x'
                loc2_pred0 = 'x'
                loc3_pred0 = 'x'
                pred_idx0 = 'x'
                
                continue
                
        if loc1_pred0 == 'x':
            loc1_pred.append('non')
            loc2_pred.append('non')
            loc3_pred.append('non')

            pred_idx.append('non')

    return loc1_pred, loc2_pred, loc3_pred, pred_idx

In [501]:
loc1_pred, loc2_pred, loc3_pred, pred_idx = after_pred_label(pt1,'plant1',2)

pt1['after48_loc1_predict'] = loc1_pred
pt1['after48_loc2_predict'] = loc2_pred
pt1['after48_loc3_predict'] = loc3_pred
pt1['after48_idx'] = pred_idx

1000번 째 처리중
2000번 째 처리중
3000번 째 처리중
4000번 째 처리중
5000번 째 처리중
6000번 째 처리중
7000번 째 처리중
8000번 째 처리중
9000번 째 처리중
10000번 째 처리중
11000번 째 처리중
12000번 째 처리중
13000번 째 처리중
14000번 째 처리중
15000번 째 처리중
16000번 째 처리중
17000번 째 처리중
18000번 째 처리중
19000번 째 처리중
20000번 째 처리중
21000번 째 처리중
22000번 째 처리중
23000번 째 처리중
24000번 째 처리중
25000번 째 처리중
26000번 째 처리중
27000번 째 처리중
28000번 째 처리중
29000번 째 처리중
30000번 째 처리중
31000번 째 처리중
32000번 째 처리중
33000번 째 처리중
34000번 째 처리중
35000번 째 처리중
36000번 째 처리중
37000번 째 처리중
38000번 째 처리중
39000번 째 처리중
40000번 째 처리중
41000번 째 처리중
42000번 째 처리중
43000번 째 처리중
44000번 째 처리중
45000번 째 처리중
46000번 째 처리중
47000번 째 처리중
48000번 째 처리중
49000번 째 처리중
50000번 째 처리중
51000번 째 처리중
52000번 째 처리중
53000번 째 처리중
54000번 째 처리중
55000번 째 처리중
56000번 째 처리중
57000번 째 처리중
58000번 째 처리중

In [502]:
pt1_ver2 = pt1
#pt1_ver2.dropna(axis=0,inplace=True)
pt1_ver3 = pt1_ver2.replace('non',np.nan)
#pt1_ver3.dropna(axis=0,inplace=True)

col_ls = pt1_ver3.columns.tolist()

loc1_col = []
loc2_col = []
loc3_col = []
for i in col_ls:
    if 'loc1' in i:
        loc1_col.append(i)
    elif 'loc2' in i:
        loc2_col.append(i)
    elif 'loc3' in i:
        loc3_col.append(i)
        
loc1_col.append('date')
loc2_col.append('date')
loc3_col.append('date')

loc1_col = list(set(loc1_col) - set(['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']))
loc2_col = list(set(loc2_col))
loc3_col = list(set(loc3_col))

loc1_col = pd.Series(loc1_col).sort_values().tolist()
loc2_col = pd.Series(loc2_col).sort_values().tolist()
loc3_col = pd.Series(loc3_col).sort_values().tolist()

pt1_loc1_df = pt1_ver3[loc1_col]
pt1_loc2_df = pt1_ver3[loc2_col]
pt1_loc3_df = pt1_ver3[loc3_col]

pt1_loc1_df = pd.concat([pt1_loc1_df,pt1_ver3[['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']]],axis=1)
pt1_loc2_df = pd.concat([pt1_loc2_df,pt1_ver3[['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']]],axis=1)
pt1_loc3_df = pd.concat([pt1_loc3_df,pt1_ver3[['plant1_train.tem_out_loc1','plant1_train.hum_out_loc1']]],axis=1)

pt1_loc1_df.columns = ['after48_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt1_loc2_df.columns = ['after48_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt1_loc3_df.columns = ['after48_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']


pt1_loc1_df['loc'] = 1
pt1_loc1_df['plant'] = 1

pt1_loc2_df['loc'] = 2
pt1_loc2_df['plant'] = 1

pt1_loc3_df['loc'] = 3
pt1_loc3_df['plant'] = 1

train_pt1_48 = pd.concat([pt1_loc1_df,pt1_loc2_df,pt1_loc3_df],axis=0)

In [503]:
display(pt1_loc1_df.head())
display(pt1_loc1_df.shape)

,after48_loc_predict,date,plant_train.cond_loc,plant_train.hum_in,plant_train.tem_coil,plant_train.tem_in,plant_train.tem_out_loc1,plant_train.hum_out_loc1,loc,plant
0,0.0,2016-04-01 00:00:00,0.0,24.0,11.0,16.0,9.0,42.0,1,1
1,0.0,2016-04-01 03:00:00,0.0,28.0,10.0,14.0,7.0,59.0,1,1
2,0.0,2016-04-01 06:00:00,0.0,33.0,10.0,13.0,6.0,56.0,1,1
3,0.0,2016-04-01 09:00:00,0.0,33.0,10.0,13.0,18.0,30.0,1,1
4,0.0,2016-04-01 12:00:00,0.0,28.0,10.0,16.0,18.0,20.0,1,1

(58749, 10)

    - plant2

In [504]:
plt2_loc1_pred, plt2_loc2_pred, plt2_loc3_pred, plt2_pred_idx = after_pred_label(pt2,'plant2',2)

pt2['after48_loc1_predict'] = plt2_loc1_pred
pt2['after48_loc2_predict'] = plt2_loc2_pred
pt2['after48_loc3_predict'] = plt2_loc3_pred
pt2['after48_idx'] = plt2_pred_idx

1000번 째 처리중
2000번 째 처리중
3000번 째 처리중
4000번 째 처리중
5000번 째 처리중
6000번 째 처리중
7000번 째 처리중
8000번 째 처리중
9000번 째 처리중
10000번 째 처리중
11000번 째 처리중
12000번 째 처리중
13000번 째 처리중
14000번 째 처리중
15000번 째 처리중
16000번 째 처리중
17000번 째 처리중
18000번 째 처리중
19000번 째 처리중
20000번 째 처리중
21000번 째 처리중
22000번 째 처리중
23000번 째 처리중
24000번 째 처리중
25000번 째 처리중
26000번 째 처리중
27000번 째 처리중
28000번 째 처리중
29000번 째 처리중
30000번 째 처리중
31000번 째 처리중
32000번 째 처리중
33000번 째 처리중
34000번 째 처리중
35000번 째 처리중
36000번 째 처리중
37000번 째 처리중
38000번 째 처리중
39000번 째 처리중
40000번 째 처리중
41000번 째 처리중
42000번 째 처리중
43000번 째 처리중
44000번 째 처리중
45000번 째 처리중
46000번 째 처리중
47000번 째 처리중
48000번 째 처리중
49000번 째 처리중
50000번 째 처리중
51000번 째 처리중
52000번 째 처리중
53000번 째 처리중
54000번 째 처리중
55000번 째 처리중
56000번 째 처리중
57000번 째 처리중
58000번 째 처리중

In [505]:
pt2_ver2 = pt2
#pt2_ver2.dropna(axis=0,inplace=True)
pt2_ver3 = pt2_ver2.replace('non',np.nan)
#pt2_ver3.dropna(axis=0,inplace=True)


col_ls = pt2_ver3.columns.tolist()

loc1_col = []
loc2_col = []
loc3_col = []
for i in col_ls:
    if 'loc1' in i:
        loc1_col.append(i)
    elif 'loc2' in i:
        loc2_col.append(i)
    elif 'loc3' in i:
        loc3_col.append(i)
        
loc1_col.append('date')
loc2_col.append('date')
loc3_col.append('date')

loc1_col = list(set(loc1_col) - set(['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']))
loc2_col = list(set(loc2_col))
loc3_col = list(set(loc3_col))

loc1_col = pd.Series(loc1_col).sort_values().tolist()
loc2_col = pd.Series(loc2_col).sort_values().tolist()
loc3_col = pd.Series(loc3_col).sort_values().tolist()

pt2_loc1_df = pt2_ver3[loc1_col]
pt2_loc2_df = pt2_ver3[loc2_col]
pt2_loc3_df = pt2_ver3[loc3_col]

pt2_loc1_df = pd.concat([pt2_loc1_df,pt2_ver3[['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']]],axis=1)
pt2_loc2_df = pd.concat([pt2_loc2_df,pt2_ver3[['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']]],axis=1)
pt2_loc3_df = pd.concat([pt2_loc3_df,pt2_ver3[['plant2_train.tem_out_loc1','plant2_train.hum_out_loc1']]],axis=1)

pt2_loc1_df.columns = ['after48_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt2_loc2_df.columns = ['after48_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt2_loc3_df.columns = ['after48_loc_predict','date','plant_train.cond_loc',\
                       'plant_train.hum_in','plant_train.tem_coil','plant_train.tem_in',\
                      'plant_train.tem_out_loc1','plant_train.hum_out_loc1']

pt2_loc1_df['loc'] = 1
pt2_loc1_df['plant'] = 2

pt2_loc2_df['loc'] = 2
pt2_loc2_df['plant'] = 2

pt2_loc3_df['loc'] = 3
pt2_loc3_df['plant'] = 2

train_pt2_48 = pd.concat([pt2_loc1_df,pt2_loc2_df,pt2_loc3_df],axis=0)

In [506]:
train_pt2_48.head()

,after48_loc_predict,date,plant_train.cond_loc,plant_train.hum_in,plant_train.tem_coil,plant_train.tem_in,plant_train.tem_out_loc1,plant_train.hum_out_loc1,loc,plant
0,0.0,2016-04-01 00:00:00,0.0,24.0,11.0,16.0,9.0,42.0,1,2
1,0.0,2016-04-01 03:00:00,0.0,28.0,10.0,14.0,7.0,59.0,1,2
2,0.0,2016-04-01 06:00:00,0.0,33.0,10.0,13.0,6.0,56.0,1,2
3,0.0,2016-04-01 09:00:00,0.0,33.0,10.0,13.0,18.0,30.0,1,2
4,0.0,2016-04-01 12:00:00,0.0,28.0,10.0,16.0,18.0,20.0,1,2

In [507]:
display(train_pt1_24.shape)
display(train_pt2_24.shape)
display(train_pt1_48.shape)
display(train_pt2_48.shape)

(176247, 10)

(176376, 10)

(176247, 10)

(176376, 10)

In [513]:
train_24 = pd.concat([train_pt1_24,train_pt2_24], axis=0)
train_48 = pd.concat([train_pt1_48,train_pt2_48], axis=0)

In [514]:
train_24.shape

(352623, 10)

In [515]:
train_24.columns

Index(['after24_loc_predict', 'date', 'plant_train.cond_loc',
       'plant_train.hum_in', 'plant_train.tem_coil', 'plant_train.tem_in',
       'plant_train.tem_out_loc1', 'plant_train.hum_out_loc1', 'loc', 'plant'],
      dtype='object')

In [516]:
train_24.dropna(subset=['after24_loc_predict'], inplace=True)
train_48.dropna(subset=['after48_loc_predict'], inplace=True)

In [517]:
train_24.shape

(347952, 10)

In [518]:
train_48.shape

(346834, 10)

In [24]:
train_pt1_24.to_csv('train_pt1_24.csv', index=False)
train_pt2_24.to_csv('train_pt2_24.csv', index=False)
train_pt1_48.to_csv('train_pt1_48.csv', index=False)
train_pt2_48.to_csv('train_pt2_48.csv', index=False)

In [48]:
train_pt1_24 = pd.read_csv('train_pt1_24.csv')
train_pt2_24 = pd.read_csv('train_pt2_24.csv')
train_pt1_48 = pd.read_csv('train_pt1_48.csv')
train_pt2_48 = pd.read_csv('train_pt2_48.csv')

In [519]:
train_24.shape

(347952, 10)

In [520]:
train_24.to_csv('train_24.csv', index=False)
train_48.to_csv('train_48.csv', index=False)

In [2]:
train_24 = pd.read_csv('train_24.csv')
train_48 = pd.read_csv('train_48.csv')

In [3]:
train_24['date'] = pd.to_datetime(train_24['date'])
train_48['date'] = pd.to_datetime(train_48['date'])

### aws 데이터(16 - 20)

In [3]:
aws = pd.read_csv('aws.csv')

In [4]:
aws['date'] = pd.to_datetime(aws['date'])

In [6]:
train_24 = pd.read_csv('train_24.csv')
train_48 = pd.read_csv('train_48.csv')

In [8]:
train_24['date'] = pd.to_datetime(train_24['date'])
train_48['date'] = pd.to_datetime(train_48['date'])

In [10]:
tr24_aws = pd.merge(train_24, aws, on='date', how='left')

In [12]:
tr48_aws = pd.merge(train_48, aws, on='date', how='left')

In [17]:
# aws신평 데이터
aws_sp = pd.read_csv('aws_sp.csv')
aws_sp.head()

,지점,일시,기온(°C),1분 강수량(mm),강수유무(유무),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec),month
0,637,2016-03-01 00:01,-3.5,0.0,0.0,304.2,2.5,1026.6,1029.5,NaN,0.0,0.0,3
1,637,2016-03-01 00:02,-3.6,0.0,0.0,296.3,1.3,1026.6,1029.5,NaN,0.0,0.0,3
2,637,2016-03-01 00:03,-3.6,0.0,0.0,304.3,1.7,1026.6,1029.5,NaN,0.0,0.0,3
3,637,2016-03-01 00:04,-3.7,0.0,0.0,308.1,1.4,1026.6,1029.5,NaN,0.0,0.0,3
4,637,2016-03-01 00:05,-3.6,0.0,0.0,302.1,1.3,1026.7,1029.6,NaN,0.0,0.0,3

In [18]:
aws_sp1 = aws_sp.drop(['지점','month'], axis=1)
aws_sp1.head()

,일시,기온(°C),1분 강수량(mm),강수유무(유무),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,2016-03-01 00:01,-3.5,0.0,0.0,304.2,2.5,1026.6,1029.5,NaN,0.0,0.0
1,2016-03-01 00:02,-3.6,0.0,0.0,296.3,1.3,1026.6,1029.5,NaN,0.0,0.0
2,2016-03-01 00:03,-3.6,0.0,0.0,304.3,1.7,1026.6,1029.5,NaN,0.0,0.0
3,2016-03-01 00:04,-3.7,0.0,0.0,308.1,1.4,1026.6,1029.5,NaN,0.0,0.0
4,2016-03-01 00:05,-3.6,0.0,0.0,302.1,1.3,1026.7,1029.6,NaN,0.0,0.0

In [19]:
aws_sp1['일시'] = pd.to_datetime(aws_sp1['일시'])

In [20]:
aws_sp1.head()

,일시,기온(°C),1분 강수량(mm),강수유무(유무),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,2016-03-01 00:01:00,-3.5,0.0,0.0,304.2,2.5,1026.6,1029.5,NaN,0.0,0.0
1,2016-03-01 00:02:00,-3.6,0.0,0.0,296.3,1.3,1026.6,1029.5,NaN,0.0,0.0
2,2016-03-01 00:03:00,-3.6,0.0,0.0,304.3,1.7,1026.6,1029.5,NaN,0.0,0.0
3,2016-03-01 00:04:00,-3.7,0.0,0.0,308.1,1.4,1026.6,1029.5,NaN,0.0,0.0
4,2016-03-01 00:05:00,-3.6,0.0,0.0,302.1,1.3,1026.7,1029.6,NaN,0.0,0.0

In [23]:
aws_sp1 = aws_sp1.rename(columns={'일시':'date'})

In [24]:
aws_sp1.head()

,date,기온(°C),1분 강수량(mm),강수유무(유무),풍향(deg),풍속(m/s),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(Sec)
0,2016-03-01 00:01:00,-3.5,0.0,0.0,304.2,2.5,1026.6,1029.5,NaN,0.0,0.0
1,2016-03-01 00:02:00,-3.6,0.0,0.0,296.3,1.3,1026.6,1029.5,NaN,0.0,0.0
2,2016-03-01 00:03:00,-3.6,0.0,0.0,304.3,1.7,1026.6,1029.5,NaN,0.0,0.0
3,2016-03-01 00:04:00,-3.7,0.0,0.0,308.1,1.4,1026.6,1029.5,NaN,0.0,0.0
4,2016-03-01 00:05:00,-3.6,0.0,0.0,302.1,1.3,1026.7,1029.6,NaN,0.0,0.0

In [25]:
aws_sp1.shape

(2716943, 11)

In [25]:
X_24 = tr24_aws.drop(['after24_loc_predict','plant_train.cond_loc'], axis=1)
y_24 = tr24_aws['after24_loc_predict']
X_48 = tr48_aws.drop(['after48_loc_predict','plant_train.cond_loc'], axis=1)
y_48 = tr48_aws['after48_loc_predict']

In [27]:
X_24.shape

(347952, 14)

In [ ]:
column_idx = ['date', 'plant', 'loc', 'plant_train.tem_in', 'plant_train.hum_in', 'plant_train.tem_coil', 'plant_train.tem_out_loc1', 'plant_train.hum_out_loc1', 'temp', '1m_rain', 'rain_ornot', 'wind_direct', 'wind_speed', 'humid']

X_24_1 = X_24[column_idx]
X_48_1 = X_48[column_idx]

In [32]:
real_columns_1 = ['date', 'plant', 'loc', 'tem_in', 'hum_in', 'tem_coil', 'tem_out_loc1', 'hum_out_loc1', 'temp', '1m_rain', 'rain_ornot', 'wind_direct', 'wind_speed', 'humid']

X_24_1.columns = real_columns_1
X_48_1.columns = real_columns_1

In [35]:
X_24_1['tem_in_out'] = X_24_1['tem_in'] - X_24_1['tem_out_loc1']
X_48_1['tem_in_out'] = X_48_1['tem_in'] - X_48_1['tem_out_loc1']

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
X_24_1['tem_coil_in'] = X_24_1['tem_in'] - X_24_1['tem_coil']
X_48_1['tem_coil_in'] = X_48_1['tem_in'] - X_48_1['tem_coil']

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
X_24_1['tem_coil_in_ratio'] = X_24_1['tem_coil_in'] / X_24_1['tem_in']
X_48_1['tem_coil_in_ratio'] = X_48_1['tem_coil_in'] / X_48_1['tem_in']

C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\LG Gram\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
pt_test = pd.read_csv('plant_test_version1.csv')

In [40]:
pt_test1 = pt_test.iloc[:,1:9]
pt_test1

,plant_test.mea_ddhr,plant_test.plant,plant_test.loc,plant_test.tem_in,plant_test.hum_in,plant_test.tem_coil,plant_test.tem_out_loc1,plant_test.hum_out_loc1
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84
...,...,...,...,...,...,...,...,...
3534,2020-03-29 3:00,1,2,10.73,33.36,13.30,6.28,46.37
3535,2020-03-29 5:00,2,3,9.15,38.86,11.70,1.39,74.33
3536,2020-03-29 7:00,2,1,7.10,44.87,9.03,4.26,58.06
3537,2020-03-29 11:30,1,1,13.54,33.49,12.20,12.90,33.67
3538,2020-03-29 19:30,1,1,14.21,34.43,12.77,9.88,43.96

In [41]:
pt_test1['plant_test.mea_ddhr'] = pd.to_datetime(pt_test1['plant_test.mea_ddhr'])

In [42]:
pt_test1.head()

,plant_test.mea_ddhr,plant_test.plant,plant_test.loc,plant_test.tem_in,plant_test.hum_in,plant_test.tem_coil,plant_test.tem_out_loc1,plant_test.hum_out_loc1
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84

In [43]:
real_columns = ['date', 'plant', 'loc', 'tem_in', 'hum_in', 'tem_coil', 'tem_out_loc1', 'hum_out_loc1']

In [44]:
pt_test1.columns = real_columns

In [47]:
ts_aws = pd.merge(pt_test1, aws, on='date', how='left')

In [50]:
ts_aws['tem_in_out'] = ts_aws['tem_in'] - ts_aws['tem_out_loc1']

In [51]:
ts_aws['tem_coil_in'] = ts_aws['tem_in'] - ts_aws['tem_coil']

In [52]:
ts_aws['tem_coil_in_ratio'] = ts_aws['tem_coil_in'] / ts_aws['tem_in']

In [52]:
#ts_aws1 = ts_aws.fillna(value=values3)

# 데이터 전처리 및 피쳐 생성 파일1에서 만든 데이터 불러오기

In [54]:
tr_24_jy = pd.read_csv('tr_24_jy_null.csv')
tr_48_jy = pd.read_csv('tr_48_jy_null.csv')
ts_jy = pd.read_csv('pt_dongnae.csv') # 지윤이한테서 데이터 받으면 실행

In [60]:
tr_24_jy['date'] = pd.to_datetime(tr_24_jy['date'])

In [ ]:
X_24_11 = pd.merge(X_24_1, tr_24_jy, on=['date','plant','loc'], how='left')

In [64]:
tr_48_jy['date'] = pd.to_datetime(tr_48_jy['date'])

In [ ]:
X_48_11 = pd.merge(X_48_1, tr_48_jy, on=['date','plant','loc'], how='left')

In [77]:
ts_jy['date'] = pd.to_datetime(ts_jy['date'])

In [ ]:
ts_aws11 = pd.merge(ts_aws, ts_jy, on=['date','plant','loc'], how='left')

### date 삭제

In [71]:
#중간 저장
X_24_11.to_csv('X_24_11.csv', index=False)
X_48_11.to_csv('X_48_11.csv', index=False)

y_24.to_csv('y_24.csv', index=False)
y_48.to_csv('y_48.csv', index=False)

In [79]:
ts_aws11.to_csv('ts_aws11.csv', index=False)

In [445]:
X_24_11 = pd.read_csv('X_24_11.csv')
X_48_11 = pd.read_csv('X_48_11.csv')
y_24 = pd.read_csv('y_24.csv')['after24_loc_predict']
y_48 = pd.read_csv('y_48.csv')['after48_loc_predict']
ts_aws11 = pd.read_csv('ts_aws11.csv')

In [80]:
X_24_11['date'] = pd.to_datetime(X_24_11['date'])
X_48_11['date'] = pd.to_datetime(X_48_11['date'])
ts_aws11['date'] = pd.to_datetime(ts_aws11['date'])

In [ ]:
aws_sp = pd.read_csv('aws_sp.csv')

In [82]:
aws_sp_1 = aws_sp.drop(['지점','month','습도(%)'], axis=1)

In [83]:
sp_columns = ['date', 'sp_tem', 'sp_1m_rain', 'sp_rain_ornot', 'sp_wind_direct', 'sp_wind_speed', 
              'sp_press', 'sp_sea_press', 'sp_ilsa', 'sp_iljo']

In [ ]:
aws_sp_1.columns = sp_columns

In [85]:
aws_sp_1['date'] = pd.to_datetime(aws_sp_1['date'])

In [ ]:
aws_sp_2 = aws_sp_1.drop_duplicates()

In [92]:
X_24_12 = pd.merge(X_24_11, aws_sp_2, on='date', how='left')
X_48_12 = pd.merge(X_48_11, aws_sp_2, on='date', how='left')
ts_aws12 = pd.merge(ts_aws11, aws_sp_2, on='date', how='left')

In [98]:
X_24_12['season'].value_counts()

X_24_12['season'] = X_24_12['season'].astype('category')

X_24_12['season'] = X_24_12['season'].cat.codes

X_24_12['season'].value_counts()

X_24_12['time'].value_counts()

X_24_12['time'] = X_24_12['time'].astype('category')

X_24_12['time'] = X_24_12['time'].cat.codes

In [100]:
X_48_12['season'].value_counts()

X_48_12['season'] = X_48_12['season'].astype('category')

X_48_12['season'] = X_48_12['season'].cat.codes

X_48_12['season'].value_counts()

X_48_12['time'].value_counts()

X_48_12['time'] = X_48_12['time'].astype('category')

X_48_12['time'] = X_48_12['time'].cat.codes

In [101]:
ts_aws12['season'].value_counts()

ts_aws12['season'] = ts_aws12['season'].astype('category')

ts_aws12['season'] = ts_aws12['season'].cat.codes

ts_aws12['season'].value_counts()

ts_aws12['time'].value_counts()

ts_aws12['time'] = ts_aws12['time'].astype('category')

ts_aws12['time'] = ts_aws12['time'].cat.codes

In [102]:
X_24_12.to_csv('X_24_12.csv', index=False)
X_48_12.to_csv('X_48_12.csv', index=False)
ts_aws12.to_csv('ts_aws12.csv', index=False)

In [103]:
X_24_12 = pd.read_csv('X_24_12.csv')
X_48_12 = pd.read_csv('X_48_12.csv')
ts_aws12 = pd.read_csv('ts_aws12.csv')

In [104]:
X_24_2 = X_24_12.drop('date', axis=1)
X_48_2 = X_48_12.drop('date', axis=1)
ts_aws_1 = ts_aws12.drop('date', axis=1)

In [125]:
#?????
X_train1.to_csv('X_train1.csv', index=False)
X_test1.to_csv('X_test1.csv', index=False)
X_train2.to_csv('X_train2.csv', index=False)
X_test2.to_csv('X_test2.csv', index=False)
y_train1.to_csv('y_train1.csv', index=False)
y_test1.to_csv('y_test1.csv', index=False)
y_train2.to_csv('y_train2.csv', index=False)
y_test2.to_csv('y_test2.csv', index=False)

In [8]:
# 베이스 데이터셋 -> x_dj_nulldf_24에 데이터가 다 있음
X_train24 = pd.read_csv('data/X_train1.csv')
X_test24 = pd.read_csv('data/X_test1.csv')
y_train24 = pd.read_csv('data/y_train1.csv')
y_test24 = pd.read_csv('data/y_test1.csv')

X_train48 = pd.read_csv('data/X_train2.csv')
X_test48 = pd.read_csv('data/X_test2.csv')
y_train48 = pd.read_csv('data/y_train2.csv')
y_test48 = pd.read_csv('data/y_test2.csv')

#24시간 예측 train데이터 병합
df24_train = pd.concat([X_train24,y_train24],axis=1)
df24_test = pd.concat([X_test24,y_test24],axis=1)

df24 = df24_train.append(df24_test)
df24.index = range(len(df24))
df24['after24_loc_predict'] = df24['after24_loc_predict'].astype('int64')

#48시간 예측 train 데이터 병합
df48_train = pd.concat([X_train48,y_train48],axis=1)
df48_test = pd.concat([X_test48,y_test48],axis=1)

df48 = df48_train.append(df48_test)
df48.index = range(len(df48))
df48['after48_loc_predict'] = df48['after48_loc_predict'].astype('int64')

In [4]:
# 다정이 새로운 변수목록 -> 어떻게 구축했는지 코드 필요
x_dj_nulldf_48 = pd.read_csv('data/dj_X_48_12.csv')
x_dj_nulldf_24 = pd.read_csv('data/dj_X_24_12.csv')
y_dj_nulldf_24 = pd.read_csv('data/dj_y_24.csv')
y_dj_nulldf_48 = pd.read_csv('data/dj_y_48.csv')
dj_ts_aws = pd.read_csv('data/dj_ts_aws12.csv')

In [10]:
date_list24 = x_dj_nulldf_24['date'].tolist()
date_list48 = x_dj_nulldf_48['date'].tolist()
date_list_test = dj_ts_aws['date'].tolist()

In [11]:
# 기존 베이스 데이터(df24)와 새로운 데이터간(지윤 + 다정)의 구분을 위해
new_column = set(x_dj_nulldf_48.columns)- set(df24.columns)
base_column24 = list(set(x_dj_nulldf_24.columns) - new_column)
base_column48 = list(set(x_dj_nulldf_48.columns) - new_column)

# 기존변수 + 새로운 변수
X_train_24 = x_dj_nulldf_24[base_column24 + list(new_column)]
X_train_48 = x_dj_nulldf_48[base_column48 + list(new_column)]

In [13]:
len(X_train_24.columns)

66

In [ ]:
# 결측치 처리
# 시계열성 특징을 가지고 있고, 이상치가 크게 없으므로 결측치를 linear하게 처리해주는 함수
def nan_preprocessing(df,col):
    col_value = []
    for i in range(len(df)):
        if i != 0 and str(df[col].iloc[i]) == 'nan':

            if str(df[col].iloc[i-1]) == 'nan':
                pass

            else:

                for j in range(i+1,len(df)):
                    if str(df[col].iloc[j]) != 'nan':
                        interval = abs(df[col].iloc[i-1] - df[col].iloc[j])
                        cnt = j - (i-1)

                        value = interval / cnt 

                        value2 = df[col].iloc[i-1]

                        if df[col].iloc[i-1] < df[col].iloc[j]:
                            right_left = 'left'

                        else:
                            right_left = 'right'

                        for k in range(0,cnt - 1):

                            if right_left == 'left':
                                value2 += value
                                col_value.append(value2)
                            elif right_left == 'right':
                                value2 -= value
                                col_value.append(value2)

                        break


                    elif str(df[col].iloc[j]) == 'nan':
                        if j != len(df) - 1:
                            pass
                        elif j == len(df) - 1:
                            nan_len = j - i + 1
                            nan_value_ls = ['nan'] * nan_len

                            col_value = col_value + nan_value_ls
                
        else:
            col_value.append(df[col].iloc[i])
            
    return col_value

# 결측치 있는 컬럼 찾기

def find_nan_column(df):
    vc = df.isnull().sum()
    
    nan_col = []
    for i in range(len(vc.values)):

        if vc.values[i] != 0:
            nan_col.append(vc.keys()[i])
            
    return nan_col

def category_columns_extract(df):
    cate_column = []
    for i in df.columns:
        if len(df[i].value_counts().keys()) <= 10:
            cate_column.append(i)
            
            
    return cate_column

In [ ]:
nan_col24 = find_nan_column(X_train_24)
nan_col48 = find_nan_column(X_train_48)
nan_col_test = find_nan_column(dj_ts_aws)

In [ ]:
cate_column24 = category_columns_extract(X_train_24)
cate_column48 = category_columns_extract(X_train_48)

In [ ]:
# 기존변수에 대하여 결측치 처리 후 검증
for i in nan_col24:
    if i in cate_column24:
        continue
    else:
        X_train_24[i] = nan_preprocessing(X_train_24,i)
        print(i)
print('-----------------------')
for i in nan_col48:
    if i in cate_column48:
        continue
    else:
        X_train_48[i] = nan_preprocessing(X_train_48,i)
        print(i)
        
# 테스트 데이터 결측치 처리
for i in nan_col_test:
    if i in cate_column24:
        continue
    else:
        dj_ts_aws[i] = nan_preprocessing(dj_ts_aws,i)
        print(i)

In [ ]:
train_24 = pd.concat([X_train_24,y_dj_nulldf_24],axis = 1)
train_48 = pd.concat([X_train_48,y_dj_nulldf_48],axis = 1)

train_24.fillna(np.nan,inplace = True)
train_48.fillna(np.nan,inplace = True)
train_24.replace('nan',np.nan,inplace = True)
train_48.replace('nan',np.nan,inplace = True)

In [ ]:
dj_ts_aws.fillna(np.nan,inplace = True)
dj_ts_aws.replace('nan',np.nan,inplace = True)

In [ ]:
train_24.drop(columns = 'date',inplace = True)
train_48.drop(columns = 'date',inplace = True)
dj_ts_aws.drop(columns = 'date',inplace = True)

In [ ]:
# 성능확인해보고 결측치 채운 데이터 저장하는 부분
train_24.to_csv('CSI3.26_auc0.8315_tr24.csv',index = False)
train_48.to_csv('CSI3.26_auc0.8315_tr48.csv',index = False)
dj_ts_aws.to_csv('CSI3.26_auc0.8315_test.csv',index = False)

# 이슬점 데이터 불러와서 처리작업 +

In [22]:
# 성능확인해보고 결측치 채운 데이터 저장하는 부분
train_24_recent = pd.read_csv('CSI3.26_auc0.8315_tr24.csv')
train_48_recent = pd.read_csv('CSI3.26_auc0.8315_tr48.csv')
dj_ts_aws_recent = pd.read_csv('CSI3.26_auc0.8315_test.csv')

In [ ]:
#asos 이슬점
jy_dew = pd.read_csv('data/dew.csv')

In [14]:
# asos 이슬점 컬럼 추가한데이터

x_dj_nulldf_24 = pd.merge(x_dj_nulldf_24,jy_dew, on = 'date', how = 'left')
x_dj_nulldf_48 = pd.merge(x_dj_nulldf_48,jy_dew, on = 'date', how = 'left')
dj_ts_aws = pd.merge(dj_ts_aws,jy_dew, on = 'date', how = 'left')

# 기존 베이스 데이터(df24)와 새로운 데이터간(지윤 + 다정)의 구분을 위해 + 이슬점
new_column = set(x_dj_nulldf_48.columns)- set(df24.columns)
base_column24 = list(set(x_dj_nulldf_24.columns) - new_column)
base_column48 = list(set(x_dj_nulldf_48.columns) - new_column)

# 기존변수 + 새로운 변수
X_train_24 = x_dj_nulldf_24[base_column24 + list(new_column)]
X_train_48 = x_dj_nulldf_48[base_column48 + list(new_column)]

In [ ]:
train_24_recent['dew_out'] = X_train_24['dew'].tolist()
train_48_recent['dew_out'] = X_train_48['dew'].tolist()
dj_ts_aws_recent['dew_out'] = dj_ts_aws['dew'].tolist()


#결측치 처리
dew24_ls = nan_preprocessing(train_24_recent,'dew_out')
dew48_ls = nan_preprocessing(train_48_recent,'dew_out')
dew_test_ls = nan_preprocessing(dj_ts_aws_recent,'dew_out')

train_24_recent['dew_out'] = dew24_ls
train_48_recent['dew_out'] = dew48_ls
dj_ts_aws_recent['dew_out'] = dew_test_ls

train_24_recent.replace('nan',np.nan,inplace = True)
train_48_recent.replace('nan',np.nan,inplace = True)
dj_ts_aws_recent.replace('nan',np.nan,inplace = True)

### 이슬점 관련 파생변수

In [ ]:
# 이슬점 구하는 공식
def dew_point(df,tem_column,hum_column):
    b = 17.62
    c = 243.12
    
    dew_point_ls = []
    
    for i in range(len(df)):

        gamma = (b * df[tem_column].iloc[i] /(c + df[tem_column].iloc[i])) + math.log(df[hum_column].iloc[i] / 100.0)
        dewpoint = (c * gamma) / (b - gamma)
        
        dew_point_ls.append(dewpoint)
        
    return dew_point_ls

In [ ]:
train_24_recent['coil_dew_point'] = dew_point(train_24_recent, 'tem_in','hum_in')
train_48_recent['coil_dew_point'] = dew_point(train_48_recent, 'tem_in','hum_in')
dj_ts_aws_recent['coil_dew_point'] = dew_point(dj_ts_aws_recent, 'tem_in','hum_in')

train_24_recent['coil_dew_point_plus3'] = train_24_recent['coil_dew_point'] + 3
train_48_recent['coil_dew_point_plus3'] = train_48_recent['coil_dew_point'] + 3
dj_ts_aws_recent['coil_dew_point_plus3'] = dj_ts_aws_recent['coil_dew_point'] + 3

train_24_recent['tem_in_dew_point_interval'] = train_24_recent['tem_in'] - train_24_recent['coil_dew_point']
train_24_recent['tem_in_dew_point3_interval'] = train_24_recent['tem_in'] - train_24_recent['coil_dew_point_plus3']

train_24_recent['coil_tem_dew_point_interval'] = train_24_recent['tem_coil'] - train_24_recent['coil_dew_point']
train_24_recent['coil_tem_dew_point3_interval'] = train_24_recent['tem_coil'] - train_24_recent['coil_dew_point_plus3']


train_48_recent['tem_in_dew_point_interval'] = train_48_recent['tem_in'] - train_48_recent['coil_dew_point']
train_48_recent['tem_in_dew_point3_interval'] = train_48_recent['tem_in'] - train_48_recent['coil_dew_point_plus3']

train_48_recent['coil_tem_dew_point_interval'] = train_48_recent['tem_coil'] - train_48_recent['coil_dew_point']
train_48_recent['coil_tem_dew_point3_interval'] = train_48_recent['tem_coil'] - train_48_recent['coil_dew_point_plus3']

dj_ts_aws_recent['tem_in_dew_point_interval'] = dj_ts_aws_recent['tem_in'] - dj_ts_aws_recent['coil_dew_point']
dj_ts_aws_recent['tem_in_dew_point3_interval'] = dj_ts_aws_recent['tem_in'] - dj_ts_aws_recent['coil_dew_point_plus3']

dj_ts_aws_recent['coil_tem_dew_point_interval'] = dj_ts_aws_recent['tem_coil'] - dj_ts_aws_recent['coil_dew_point']
dj_ts_aws_recent['coil_tem_dew_point3_interval'] = dj_ts_aws_recent['tem_coil'] - dj_ts_aws_recent['coil_dew_point_plus3']


train_24_recent['coil_tem_dew_point_tf'] = train_24_recent['tem_coil'] >= train_24_recent['coil_dew_point']
train_24_recent['coil_tem_dew_point3_tf'] = train_24_recent['tem_coil'] >= train_24_recent['coil_dew_point_plus3']

train_48_recent['coil_tem_dew_point_tf'] = train_48_recent['tem_coil'] >= train_48_recent['coil_dew_point']
train_48_recent['coil_tem_dew_point3_tf'] = train_48_recent['tem_coil'] >= train_48_recent['coil_dew_point_plus3']

dj_ts_aws_recent['coil_tem_dew_point_tf'] = dj_ts_aws_recent['tem_coil'] >= dj_ts_aws_recent['coil_dew_point']
dj_ts_aws_recent['coil_tem_dew_point3_tf'] = dj_ts_aws_recent['tem_coil'] >= dj_ts_aws_recent['coil_dew_point_plus3']

train_24_recent['coil_tem_dew_point_tf'] = train_24_recent['coil_tem_dew_point_tf'].map({True:1,False:0})
train_24_recent['coil_tem_dew_point3_tf'] = train_24_recent['coil_tem_dew_point3_tf'].map({True:1,False:0})
train_48_recent['coil_tem_dew_point_tf'] = train_48_recent['coil_tem_dew_point_tf'].map({True:1,False:0})
train_48_recent['coil_tem_dew_point3_tf'] = train_48_recent['coil_tem_dew_point3_tf'].map({True:1,False:0})
dj_ts_aws_recent['coil_tem_dew_point_tf'] = dj_ts_aws_recent['coil_tem_dew_point_tf'].map({True:1,False:0})
dj_ts_aws_recent['coil_tem_dew_point3_tf'] = dj_ts_aws_recent['coil_tem_dew_point3_tf'].map({True:1,False:0})

In [ ]:
train_24_recent.to_csv('data/train24_MY.csv',index=False)
train_48_recent.to_csv('data/train48_MY.csv',index=False)
dj_ts_aws_recent.to_csv('data/test_MY.csv',index=False)