In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc, rcParams
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

plt.style.use('ggplot')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
rcParams['figure.figsize'] = (16, 8)
rc('font', family='AppleGothic')

In [4]:
tr_base_path = './data/train'
te_base_path = './data/test'

In [6]:
df = pd.read_csv(os.path.join(tr_base_path, 'train.csv'))

In [15]:
test = pd.read_csv(os.path.join(te_base_path, '1.csv'))

In [16]:
test

     Day  Hour  Minute  DHI  DNI   WS     RH    T  TARGET
0      0     0       0    0    0  2.8  70.34 -6.1     0.0
1      0     0      30    0    0  2.9  71.97 -6.4     0.0
2      0     1       0    0    0  2.9  69.77 -6.7     0.0
3      0     1      30    0    0  2.9  71.95 -7.1     0.0
4      0     2       0    0    0  2.9  69.48 -7.4     0.0
..   ...   ...     ...  ...  ...  ...    ...  ...     ...
331    6    21      30    0    0  1.7  43.65 -5.2     0.0
332    6    22       0    0    0  1.5  40.62 -4.9     0.0
333    6    22      30    0    0  1.5  40.62 -4.9     0.0
334    6    23       0    0    0  1.5  39.21 -4.9     0.0
335    6    23      30    0    0  1.5  39.50 -5.0     0.0

[336 rows x 9 columns]

In [9]:
df

        Day  Hour  Minute  DHI  DNI   WS     RH   T  TARGET
0         0     0       0    0    0  1.5  69.08 -12     0.0
1         0     0      30    0    0  1.5  69.06 -12     0.0
2         0     1       0    0    0  1.6  71.78 -12     0.0
3         0     1      30    0    0  1.6  71.75 -12     0.0
4         0     2       0    0    0  1.6  75.20 -12     0.0
...     ...   ...     ...  ...  ...  ...    ...  ..     ...
52555  1094    21      30    0    0  2.4  70.70  -4     0.0
52556  1094    22       0    0    0  2.4  66.79  -4     0.0
52557  1094    22      30    0    0  2.2  66.78  -4     0.0
52558  1094    23       0    0    0  2.1  67.72  -4     0.0
52559  1094    23      30    0    0  2.1  67.70  -4     0.0

[52560 rows x 9 columns]